@model IEnumerable<Lab02.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách sản phẩm</h1>

<div class="products">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <img src="@product.ImageUrl" alt="@product.Name">
            <h3>@product.Name</h3>
            <p class="price">@product.Price $</p>
            <div class="button-container">
                <a asp-action="Details" asp-route-id="@product.Id" class="button view">Chi tiết</a>
                <a asp-action="#" asp-route-id="@product.Id" class="button addCart">Thêm vào giỏ hàng</a>
                <a asp-action="#" asp-route-id="@product.Id" class="button buyNow">Mua ngay</a>
            </div>
        </div>
    }
</div>
